<div class="d-flex my-2 mx-2">
    <img src="<%= user.photo %>" alt="" width="200" height="150" /> <br>
    <div class="card w-100 mx-1 p-2">
        <h2 class="text-start"><%= user.name %></h2>
        <p class="text-end">Number of posts: <%= user.posts.count %></p>
    </div>
</div>

